export DB_HOST:                # database host url
export DB_PASSWORD:            # database user
export DB_USER:                # database password
export EMAIL_DOMAIN_ROOT:      # domain root to send outbound emails for reports
export HOSTNAME:               # the urn of the site (i.e domain name without the protocol)
export PAGERDUTY_API_KEY=      # the read-only api key you can generate from pagerduty
export PAGERDUTY_BASE_URL=https://api.pagerduty.com
export PAGERDUTY_TEAM_IDS=''   # comma seperated list
export PAGERDUTY_INCLUDE_OPTIONS='trigger_summary_data,users,services,first_trigger_log_entries,assignees,acknowledgers,priorities'
export REPORT_TO_EMAIL=''      # the email address to send the reports to
export OAUTH2_CLIENT_ID=       # client id from Github
export OAUTH2_CLIENT_SECRET=   # client secret from Github
export PROTOCOL=http           # http or https
